@mixin f-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.wrapper{
    @include f-center-between();
    width: 100%;
    height: 100%;
    padding: calc(var(--index) * 8) 0;
    margin-bottom: calc(var(--index) * 3);
}

.item{
    width: 48%;
}

.item img{
    width: 100%;
}

.item__info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--index) * 1);
}

.item__info a{
    color: rgb(181, 194, 206);
    font-size: calc(var(--index) * .6);
    font-weight: 500;
    line-height: 133.8%;
    letter-spacing: 2.5%;
    text-decoration: none;
    border: 1px solid rgb(181, 194, 206);
    border-radius: 25px;
    padding:calc(var(--index) * .2) calc(var(--index) * .6);
    display: flex;
    align-items: center;
    transition: .4s;
}

.item__info a:hover{
    color: rgb(100, 211, 112);
    border: 1px solid rgb(100, 211, 112);
    
}

.item__info i{
    margin-left: 3px;
}


/*Стили для вложенной страницы*/

.shopItem__wrapper{
    @include f-center-between();
    margin: calc(var(--index) * 2) 0 calc(var(--index) * 1) 0;
    &__back__btn{
        @include f-center-between();
        width: 10%;
    }
}

.shopItem__chat{
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 10);
    position: absolute;
    z-index: 1000;
    right: calc(var(--index) * 2);
    bottom: calc(var(--index) * -10);
}

.shopItem__cards{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 5);
    
}

/*Карточка товара*/

.card{
    width: 100%;
    img{
        width: 100%;
    }
    &__wrapper{
        padding: 0 calc(var(--index) * 1);
        font-weight: 700;
    }
    &__title{
        font-size: calc(var(--index) * .8);
        line-height: 180%;
    }
    &__compound{
        font-size: calc(var(--index) * .6);
        font-weight: 500;
        line-height: 133.8%;
        letter-spacing: 2.5%;
        text-align: justify;
        padding: calc(var(--index) * .5) 0;
    }
    &__bju{
        width: 100%;
        @include f-center-between();
        font-size: calc(var(--index) * .8);
    }
}


/*Адаптив*/
@media (max-width: 540px) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .item{
        padding-bottom: calc(var(--index) * 2);
    }
}