@mixin f-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Секция с мужиком*/

.owner{
    width: 90vw;
    padding: calc(var(--index) * 4) calc(var(--index) * 3);
    margin-left:auto;
    @include f-center-between();
    &__text{
        width: 40%;
        font-size: calc(var(--index) * .8);
        font-weight: 700;
        line-height: 110%;
        &__title{
            font-size: calc(var(--index) * 1.3);
            line-height: 120%;
            letter-spacing: 2.5%;
        }
        &__subtitle{
            p{
                margin: calc(var(--index) * 1) 0;
                font-weight: 300;
            }
        }
    }
    .image{
        position: relative;
        z-index: 1000;
        background-image: url('./owner.png');
        background-position: center;
        background-size: cover;
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 20);
        border-radius: 50%;
        border: calc(var(--index) * 1) solid var(--color-w);
    }
}

.story{
    width: 80vw;
    padding: calc(var(--index) * 2) 0;
    @include f-center-between(); 
    img{
        width: 50%;
    }
}

.team{
    width: 100%;
    background-image: url('./team.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.easy{
    width: 80%;
    padding: calc(var(--index) * 4) 0;
    margin-left: auto;
    @include f-center-between();
    img{
        width: 55%;
    }
    &__title{
        margin: calc(var(--index) * .4) 0;
    }
    &__wrapper__links{
        display: flex;
        align-items: center;
        i{
            margin: 0 calc(var(--index) * .5);
        }
    }
}

//секция с формой и аккордеоном

.formAccordeon{
    width: 65vw;
    margin: calc(var(--index) * 2) auto;
    display: flex;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    &__title{
        font-size: calc(var(--index) * 1.3);
        font-weight: 700;
        line-height: 110%;
        text-align: center;
    }
    &__subtitle{
        font-size: calc(var(--index) * .7);
        font-weight: 400;
        line-height: 133.8%;
        letter-spacing: 2.5%;
        text-align: center;
    }
    &__wrapper{
        padding-bottom: calc(var(--index) * 1);
        display: flex;
        flex-direction: column;
        &__radio{
            flex-direction: row;
            width: 95%;
            margin: 0 auto;
        }
    }
    &__btn__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(var(--index) * 1);
    }
    &__btn__order{
        width: fit-content;
        color: var(--color-g);
        background-color: transparent;
        border: 2px solid var(--color-g);
        padding: calc(var(--index) * .2) calc(var(--index) * .6);
        font-size: calc(var(--index) * 1.05);
        font-weight: 500;
        line-height: 133.8%;
        letter-spacing: 2.5%;
        text-align: center;
    }
    &__btn{
        width: calc(var(--index) * 11);
        &__text{
            padding: calc(var(--index) * .6) 0;
        }
    }
    label{
        font-size: calc(var(--index) * .9);
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 2.5%;
        margin-left: 10px;
    }
    input[type="text"]{
        border-radius: 25px;
        border: none;
        background-color: var(--color-grey);
        padding: calc(var(--index) * .4) calc(var(--index) * .6);
        font-size: calc(var(--index) * .7);
    }
    input[type="text"]:focus{
        outline: none;
    }
    input[type="text"]:active{
        outline: none;
    }
    &__label__text{
        color: var(--color-g);    
    }
    &__label__text__error{
        color: var(--color-r);
    }
}

form{
    margin-top: calc(var(--index) * .6);
    padding: 0 calc(var(--index) * 2);
}

.accordeons{
    width: 50%;
    &__title{
        text-align: center;
        font-size: calc(var(--index) * 1);
        font-weight: 700;
        line-height: 150%;
        margin-bottom: calc(var(--index) * 1);
    }
}

details{
    box-shadow: 0px 0px 20px 0px rgba(86, 86, 86, 0.2);
    background-color: var(--color-w);
    border-radius: 25px;
    margin-bottom: calc(var(--index) * .75);
    font-size: calc(var(--index) * .6);
    padding: calc(var(--index) * .2) calc(var(--index) * .6);
    transition: .5s;
}

summary{
    list-style: none;
    font-size: calc(var(--index) * .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details i{
    transition: .5s;
}


details[open] i{
    transform: rotate(90deg);
}
