@mixin f-center-betwen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Для круга*/

.blog__ellipse__lg{
    left: calc(var(--index) * -5);
    width: calc(var(--index) * 18);
    height: calc(var(--index) * 18);
    overflow: hidden;
    position: absolute;
    bottom: calc(var(--index) * -11);
}

/* Пагинация */

.pagination{
    @include f-center-betwen();
    width: fit-content;
    button{
        width: calc(var(--index) * 1);
        height: calc(var(--index) * 1);
        background-color: #DEE6EE;
        margin: 0 calc(var(--index) * 0.5);
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    &__item{
        width: calc(var(--index) * 1);
        height: calc(var(--index) * 1);
        background-color: #DEE6EE;
        margin: 0 calc(var(--index) * 0.5);
        text-align: center;
        border-radius: 50%;
    }
}

/*Айтем блога*/

.item{
    width: 100%;
    img{
        width: 100%;
    }
    &__wrapper{
        padding: 0 calc(var(--index) * 1);
        
    }
    &__info{
        @include f-center-betwen();
        margin-top: calc(var(--index) * .5);
        &__date{
            color: rgb(181, 194, 206);
            font-size: calc(var(--index) * .6);
            font-weight: 500;
            line-height: 133.8%;
            letter-spacing: 2.5%;
        }
        &__btn{
                color: rgb(181, 194, 206);
                font-size: calc(var(--index) * .6);
                font-weight: 500;
                line-height: 133.8%;
                letter-spacing: 2.5%;
                text-decoration: none;
                border: 1px solid rgb(181, 194, 206);
                border-radius: 25px;
                padding:calc(var(--index) * .2) calc(var(--index) * .6);
                display: flex;
                align-items: center;
                transition: .4s;
            i{
                margin-left: 3px;
            }
        }    
            
        &__btn:hover{
                color: rgb(100, 211, 112);
                border: 1px solid rgb(100, 211, 112);
        }
    }
}

/*Основной код*/

.blog__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--index) * 1);
    margin: calc(var(--index) * 1.5) 0;
}

/*Внутренняя страница*/

/*Кнопка назад*/

.back__btn{
    width: calc(var(--index) * 1);
    height: calc(var(--index) * 1);
    border-radius: 50%;
    color: var(--color-b);
    background-color: var(--color-grey);
    cursor: pointer;
}

/*Секция main*/

main{
    width: 100%;
    padding: calc(var(--index) * 5) 0 calc(var(--index) * 1) 0;
    img{
        width: 100%;
    }
    .main__wrapper{
        @include f-center-betwen();
        padding: 0 calc(var(--index) * 1);
        &__back__btn{
            width: 20%;
            display: flex;
            align-items: center;
            button{
                margin-right: 10px;
            }
        }
        &__bottom{
            margin: calc(var(--index) * 3) 0;
        }
    }
    .main__title{
        @include f-center-betwen();
        width: 50%;
        &__date{
            color: var(--color-grey-t);
            font-size: calc(var(--index) * .5);

        }
    }
    .main__links{
        width: 20%;
        @include f-center-betwen();
        a{
            cursor: pointer;
            margin-left: calc(var(--index) * .5);
            i{
                color: var(--color-b);
            }
        }
    }
    article{
        width: 90%;
        margin: 0 auto;
        .custom__p{
            margin-bottom: calc(var(--index) * 1);
            font-size: calc(var(--index) * .8);
            font-weight: 400;
            line-height: 120%;
            text-align: justify;
        }
        img{
            width: 100%;
            margin: calc(var(--index) * 1) 0 calc(var(--index) * 2) 0;
        }
    }
    .main__to__program{
        width:fit-content;
        border-radius: 25px;
        color: var(--color-w);
        background-color: var(--color-g);
        cursor: pointer;
        padding: calc(var(--index) * .2) calc(var(--index) * .6);
        font-size: calc(var(--index) * 1);
    }
}

.maybe{
    width: 100%;
    &__title{
        font-size: calc(var(--index) *.9);
        font-weight: 700;
        line-height: 120%;
        text-align: center;
    }
    &__wrapper{
        @include f-center-betwen();
        padding: calc(var(--index) * 1) 0 calc(var(--index) * 2) 0;
    }
}

